<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(https://res.cloudinary.com/martinezweb/image/upload/v1631197061/assets/img/bg-img/empresaPrincipal_ft0ohr.jpg">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Contactos</h2>
                    <p><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+593072802258">+(593)(07)282-9613</a></p>
                    <p><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+593995252681">+(593) 995252681</a></p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Hurtado de Mendoza 11-60 y Paseo de los cañaris.
                        <br> Cuenca Ecuador.</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:someone@yoursite.com">marhijos@etapanet.net</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Contact Area Start ***** -->
<div class="caviar-contact-area d-md-flex align-items-center" id="contact">
    <div class="contact-form-area d-flex">
        <!--    justify-content-end -->
        <div class="contact-form"> 
            <div class="col-12">     
            <div class="contact-form-title">
                <h2>Ponerse en contacto</h2>
            </div>
            <form #add="ngForm" id="addForm" (ngSubmit)="enviarMsj(add); add.reset();" autocomplete="off">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <input type="text" name="name" class="form-control" placeholder="Tu nombre" [ngModel]="nombre">
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <input type="email" name="mail" class="form-control" placeholder="tu correo electronico" [ngModel]="email">
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <input type="text" name="phone" placeholder="Ingrese celular" class="form-control" [ngModel]="phone">
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <textarea name="mensaje" class="form-control" id="Message" cols="30" rows="10" placeholder="Tu mensaje" [ngModel]="mensaje"></textarea>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <button type="submit" class="btn caviar-btn"><span></span> Enviar mensaje</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <div class="allowfullscreen" data-wow-delay="0.5s">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d578.3882258761055!2d-78.98499015606345!3d-2.891443723145522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smartinez%20e%20Hijos!5e0!3m2!1ses!2sec!4v1637258508197!5m2!1ses!2sec" 
        width="815" height="500" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>