<!-- ****** Footer Area Start ****** -->
<!-- <div class="caviar-footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-text">
                    <a href="#" class="navbar-brand">Martínez & Hijos Cia.ltda.</a>
                    <p>Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> Tods los derechos reservados | Realizado por : <a [routerLink]="['/Inicio']" target="_blank">Martinez e Hijos Cia Ltda.</a></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                <img class="logo-footer" src="https://res.cloudinary.com/martinezweb/image/upload/v1626362239/assets/img/martinez_mweq4d.png" alt="logo-footer">
                <p>
                    Somos una empresa que ofrece soluciones comercialies y de logistica de productos lideres en el mercado de consumo masivo....
                </p>
                <p><a href="#">Nosotros</a></p>
            </div>
            <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                <h3>Contacto</h3>
                <p><i class="fas fa-map-marker-alt"></i> Hurtado de Mendoza 11-60 y Paseo de los cañaris. Cuenca Ecuador.</p>
                <p><i class="fas fa-phone"></i> Telefono: +(593)(07)282-9613</p>
                <p><i class="fas fa-phone"></i> Celular: +(593) 995252681</p>
                <p><i class="fas fa-envelope"></i> Email: <a href="marhijos@etapanet.net">marhijos@etapanet.net</a></p>
            </div>
            <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                <h3>Siguenos en: </h3>
                <p>
                    <a href="https://www.facebook.com/martinezehijoscialtd"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/martinezehijos.cialtda/"><i class="fab fa-instagram"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-5 footer-copyright">
                <p>Realizado por: Martinez e Hijos
                    <a href="https://azmind.com"></a>
                </p>
            </div>
             <div class="col-md-7 footer-menu">
                <nav class="navbar navbar-dark navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link scroll-link" href="#top-content">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-link" href="#section-1">MHGroup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-link" href="#section-2">Section 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-link" href="#section-3">Section 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-link" href="#section-4">Section 4</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> 
        </div>
    </div>
</div> -->